<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="wrapper">

    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="main-panel">
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="container">
            <div class="page-inner">
                <div class="page-header">

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Добавить категорию</div>
                            </div>
                            <form th:action="@{./add}" method="POST" enctype="multipart/form-data">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4">
                                            <div class="form-group">
                                                <small th:if="${error}" class="form-text text-danger" th:text="${error}"></small>
                                                <div class="form-group">
                                                    <label for="name" class="col-md-3 col-form-label">
                                                        Наименование
                                                    </label>
                                                    <div class="col-md-6 p-0">
                                                        <input type="text" class="form-control input-full" id="name"
                                                               name="name" placeholder="Наименование товара" required />
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                <label for="categoryId">Категории</label>
                                                <select
                                                        class="form-select form-control-lg"
                                                        id="categoryId" name="categoryId"
                                                >
                                                    <option value="" disabled selected>Выберите категорию</option>
                                                    <!-- Используйте Thymeleaf для создания опций -->
                                                    <th:block th:each="category : ${categories}">
                                                        <option th:value="${category.id}" th:text="${category.name}">Категория</option>
                                                    </th:block>

                                                </select>
                                                </div>

                                                <div class="form-group">
                                                <label for="costPrice" class="col-md-3 col-form-label">
                                                    Себистоимость
                                                </label>
                                                <div class="col-md-6 p-0">
                                                    <input type="text" class="form-control input-full" id="costPrice"
                                                           name="costPrice" placeholder="Себистоимость" min="1" required />
                                                </div>
                                                </div>

                                                <div class="form-group">
                                                <label for="sellingPrice" class="col-md-3 col-form-label">
                                                    Цена
                                                </label>
                                                <div class="col-md-6 p-0">
                                                    <input type="text" class="form-control input-full" id="sellingPrice"
                                                           name="sellingPrice" placeholder="Цена" min="1" required />
                                                </div>
                                                </div>

                                                <div class="form-group">
                                                <label for="image">Фото товара</label>
                                                <input
                                                        type="file"
                                                        class="form-control-file"
                                                        id="image"
                                                        name="image"
                                                        required
                                                />
                                                </div>

                                                <div class="form-group">
                                                <label for="description">Описание</label>
                                                <textarea class="form-control" id="description" name="description"  rows="5"></textarea>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                    <a th:href="@{/products}" class="btn btn-danger">Отмена</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>


</div>
<div th:replace="~{fragments/script :: script}">

</div>
</body>
</html>
