<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="wrapper">

    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="main-panel">
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="container">
            <div class="page-inner">
                <div class="page-header">

                </div>
                <form th:action="@{./add}" method="POST">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-header">
                                <div class="card-title">Добавить оприходование</div>
                            </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="form-group">
                                                <label for="facility">Склад</label>
                                                <select
                                                        class="form-select form-control-lg"
                                                        id="facility" name="facility"
                                                        required
                                                >
                                                    <option value="" disabled selected>Выберите категорию</option>
                                                    <!-- Используйте Thymeleaf для создания опций -->
                                                    <th:block th:each="facility : ${facilities}">
                                                        <option th:value="${facility.id}" th:text="${facility.name}">Категория</option>
                                                    </th:block>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="description">Описание</label>
                                                    <textarea class="form-control" id="description" name="description"  rows="1"></textarea>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="postingDate">Дата ввода</label>
                                                    <input type="date" class="form-control" id="postingDate" name="postingDate">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="totalSum">Общая сумма</label>
                                                    <input type="number"  class="form-control input-full" id="totalSum" name="totalSum" placeholder="Общая сумма" readonly/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">

                                <div class="card-header">
                                    <div class="card-title">Добавить товары</div>
                                </div>
                                <div id="items">
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="quantity">Общее колличество</label>
                                                <input type="number"  class="form-control input-full" id="quantity" name="quantity" placeholder="Общее колличество" readonly/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-action">
                        <button type="button" onclick="addItem()" class="btn btn-success">Добавить товар</button>
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <a th:href="@{/posting}" class="btn btn-danger">Отмена</a>
                    </div>
                </form>
            </div>
        </div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>


</div>
<div th:replace="~{fragments/script :: script}">

</div>

<script>
    // Переносим данные о продуктах из Thymeleaf в JavaScript
    const products = /*[[${products}]]*/ [];

    let itemIndex = 0;

    function addItem() {
        const container = document.getElementById('items');
        const newItem = document.createElement('div');
        newItem.classList.add('card-body', 'item');
        newItem.innerHTML = `
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <input type="text" oninput="filterProducts(this)" placeholder="Поиск товара" class="form-control-lg" />
                        <select class="form-select form-control-lg" name="items[${itemIndex}].product.id" onchange="updatePrice(this)">
                            <option value="" disabled selected>Выберите товар</option>
                            ${products.map(product => `
                                <option value="${product.id}">${product.name}</option>
                            `).join('')}
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="form-group">
                        <input type="number" class="form-control input-full" name="items[${itemIndex}].quantity" placeholder="Количество" min="1" required />
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="form-group">
                        <input type="number" class="form-control input-full" name="items[${itemIndex}].cost" placeholder="Цена" min="1" required readonly/>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <input type="number" class="form-control input-full" name="items[${itemIndex}].totalCost" placeholder="Сумма" required readonly step="0.01" min="0" oninput="calculateTotal()"/>
                   </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" onclick="removeItem(this)">Удалить</button>
                    </div>
                </div>
            </div>
        `;
        container.appendChild(newItem);
        itemIndex++;
        loadProducts(newItem);
    }

    function removeItem(button) {
        button.closest('.item').remove();
        calculateTotal();
    }
    function loadProducts(container) {
        fetch('/products/products')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(products => {
                const selectElement = container.querySelector('select.form-select');
                selectElement.innerHTML = '<option value="" disabled selected>Выберите товар</option>'; // Сброс содержимого

                products.forEach(product => {
                    const option = document.createElement('option');
                    option.value = product.id;
                    option.textContent = product.name;
                    selectElement.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Ошибка при загрузке товаров:', error);
            });
    }

    function filterProducts(input) {
        const query = input.value.toLowerCase();
        const select = input.nextElementSibling; // Получаем следующий элемент (select)

        if (!select) {
            console.error('Select element not found.');
            return;
        }

        // Получаем все опции из селекта
        const options = Array.from(select.querySelectorAll('option'));

        // Фильтруем продукты и добавляем соответствующие опции
        const filteredOptions = options.filter(option => option.textContent.toLowerCase().includes(query));

        // Очищаем дропдаун, оставляя только первую опцию
        select.innerHTML = '<option value="" disabled selected>Выберите товар</option>';

        // Добавляем отфильтрованные опции обратно в селект
        filteredOptions.forEach(option => {
            select.appendChild(option);
        });

        // Если нет отфильтрованных опций, можно, например, показать предупреждение
        if (filteredOptions.length === 0) {
            console.warn('Нет товаров, соответствующих вашему запросу.');
        }
    }

    function updatePrice(selectElement) {
        const productId = selectElement.value;
        const itemDiv = selectElement.closest('.item');
        const unitPriceInput = itemDiv.querySelector('input[name$=".cost"]');

        if (productId) {
            fetch(`/products/product-price?productId=${productId}`)
                .then(response => {
                    // Проверяем, что ответ имеет статус OK и тип content-type соответствует JSON
                    if (response.ok && response.headers.get('Content-Type').includes('application/json')) {
                        return response.json();
                    } else {
                        throw new Error('Ответ не является JSON или не имеет статус OK');
                    }
                })
                .then(data => {
                    unitPriceInput.value = data.price || '';
                    updateTotalCost(unitPriceInput);
                })
                .catch(error => {
                    console.error("Ошибка при получении цены товара:", error);
                    unitPriceInput.value = 0;
                });
        } else {
            unitPriceInput.value = '';
        }
    }

    // Функция для обновления стоимости и общей суммы при изменении количества или цены
    document.addEventListener('input', function(event) {
        if (event.target.matches('input[name$=".quantity"], input[name$=".unitPrice"]')) {
            updateTotalCost(event.target);
        }
    });

    function updateTotalCost(input) {
        const itemDiv = input.closest('.item');
        const quantity = itemDiv.querySelector('input[name$=".quantity"]').value || 0;
        const unitPrice = itemDiv.querySelector('input[name$=".cost"]').value || 0;
        const totalCostInput = itemDiv.querySelector('input[name$=".totalCost"]');

        const totalCost = quantity * unitPrice;
        totalCostInput.value = totalCost.toFixed(2);
        // Обновим общую сумму
        calculateTotal();
    }

</script>

<script>
    // Получаем текущую дату
    var today = new Date().toLocaleDateString("en-CA", { timeZone: "Asia/Bishkek" });
    // Устанавливаем дату по умолчанию
    document.getElementById("postingDate").value = today;
</script>

<script>
    function calculateTotal() {
        let totalSum = 0;
        // Получаем все поля с именем, соответствующим items[x].totalCost
        const totalCostFields = document.querySelectorAll('input[name^="items"][name$="totalCost"]');

        // Суммируем значения
        totalCostFields.forEach(function(field) {
            const value = parseFloat(field.value) || 0; // Если поле пустое, берём 0
            totalSum += value;
        });

        // Обновляем поле общей суммы
        document.getElementById("totalSum").value = totalSum.toFixed(2); // Устанавливаем общую сумму с двумя знаками после запятой


        // Функция для обновления общей суммы количества
        let totalQuantity = 0;
        // Находим все поля с количеством
        document.querySelectorAll('input[name^="items"][name$="quantity"]').forEach(function(field) {
            const value = parseFloat(field.value) || 0; // Если поле пустое, берём 0
            totalQuantity += value;
        });

        // Обновляем поле общей суммы количества
        document.getElementById("quantity").value = totalQuantity;
    }
</script>
</body>
</html>
