<footer class="footer" th:fragment="footer">
    <div class="container-fluid d-flex justify-content-between">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://www.themekita.com">
                        Aziano
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Контакты </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            2024 <i class="fa fa-heart heart text-danger"></i> by
            <a href="http://www.themekita.com">Aziano</a>
        </div>

    </div>
</footer>