<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="wrapper">

  <div th:replace="~{fragments/nav :: nav}"></div>
  <div class="main-panel">
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">
      <div class="page-inner">
        <div class="page-header">
          <h3 class="fw-bold mb-3">Категории</h3>
        </div>
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex align-items-center">
                  <a
                          th:href="@{/category/add}"
                          class="btn btn-primary btn-round ms-auto"
                  >
                    <i class="fa fa-plus"></i>
                    Добавить категорию
                  </a>
                </div>
              </div>
              <div class="card-body">

                <div class="table-responsive">
                  <table
                          id="add-row"
                          class="display table table-striped table-hover"
                  >
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Название категории</th>
                      <th style="width: 20%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${categories}">
                      <td th:text="${category.id}"></td>
                      <td th:text="${category.name}"></td>
                      <td>
                        <div class="form-button-action">
                          <a
                                  th:href="@{category/edit/{id}(id=${category.id})}"
                                  type="button"
                                  data-bs-toggle="tooltip"
                                  title=""
                                  class="btn btn-link btn-primary btn-lg"
                                  data-original-title="Edit Task"
                          >
                            <i class="fa fa-edit"></i>
                          </a>
                          <a
                                  th:href="@{category/remove/{id}(id=${category.id})}"
                                  type="button"
                                  data-bs-toggle="tooltip"
                                  title=""
                                  class="btn btn-link btn-danger"
                                  data-original-title="Remove"
                          >
                            <i class="fa fa-times"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </div>


</div>

<div th:replace="~{fragments/script :: script}">
</div>

<p th:if="${message}" id="custom-notify-message" th:text="${message}" style="display: none"></p>

<script th:if="${message}">
  $(document).ready(function () {
    var placementFrom = "bottom";
    var placementAlign = "right";
    var state = "success";
    var style = "withicon";
    var content = {};

    content.message = $("#custom-notify-message").text();
    if(content.message.includes("Ошибка")){
      state = "warning"
    }
    content.title = "Уведомление";
    if (style == "withicon") {
      content.icon = "fa fa-bell";
    } else {
      content.icon = "none";
    }
    content.url = "index.html";
    content.target = "_blank";

    $.notify(content, {
      type: state,
      placement: {
        from: placementFrom,
        align: placementAlign,
      },
      time: 1000,
      delay: 3000, // Уведомление будет закрыто через 5 секунд
      autoHide: true, // Автоматическое скрытие
    });
  });
</script>
</body>
</html>
