<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="wrapper">

  <div th:replace="~{fragments/nav :: nav}"></div>
  <div class="main-panel">
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">
      <div class="page-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="card">

              <div class="card-header">
                <div class="card-title">Таблица реализации</div>
              </div>
                <div class="card-body">
                  <!-- IMAGE Modal -->
                  <div
                          class="modal fade"
                          id="showImage"
                          tabindex="-1"
                          role="dialog"
                          aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">

                          <div class="row">
                            <div class="col-sm-12">
                              <img id="modalImage" src="" class="img-fluid" alt="Изображение">
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer border-0">
                          <button
                                  id="closeImageButton"
                                  type="button"
                                  class="btn btn-danger"
                                  data-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal -->
                  <div
                          class="modal fade"
                          id="addRowModal"
                          tabindex="-1"
                          role="dialog"
                          aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <form th:action="@{/sales}" method="POST">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h5 class="modal-title">
                            <span class="fw-mediumbold">Продажа</span>
                          </h5>
                        </div>
                        <div class="modal-body">
                          <p class="small">
                            Введите данные для продажи
                          </p>

                            <div class="row">

                              <div class="col-sm-12">
                                <div class="form-group form-group-default" style="background: #e8e8e8;">
                                  <label for="name">Наименование</label>
                                  <input
                                          id="name"
                                          type="text"
                                          class="form-control"
                                          placeholder="Наименование"
                                          readonly
                                  />
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6">
                                <div class="form-group form-group-default">
                                  <label for="productCode">Код</label>
                                  <input
                                          id="productCode"
                                          name="productCode"
                                          type="text"
                                          class="form-control"
                                          placeholder="Введите код"
                                          oninput="updateByProductCode()"
                                  />
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6">
                                <div class="form-group form-group-default">
                                  <label for="barcode">Штрих-код</label>
                                  <input
                                          id="barcode"
                                          name="barcode"
                                          type="text"
                                          class="form-control"
                                          placeholder="Введите штрих-код"
                                          oninput="updateByBarcode()"
                                  />
                                </div>
                              </div>


                              <div class="col-md-6 col-sm-6">
                                <div class="form-group form-group-default">
                                  <label for="quantity">Колличество</label>
                                  <input
                                          id="quantity"
                                          name="quantity"
                                          type="number"
                                          class="form-control"
                                          placeholder="Введите колличество"
                                          min="1"
                                  />
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6">
                                <div class="form-group form-group-default" style="background: #e8e8e8;">
                                  <label for="sellingPrice">Цена</label>
                                  <input
                                          id="sellingPrice"
                                          name="sellingPrice"
                                          type="number"
                                          class="form-control"
                                          placeholder="Введите цену"
                                          min="1"
                                          style="font-size: medium"
                                          required
                                          readonly
                                  />
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6">
                                <div class="form-group form-group-default">
                                  <label for="discount">Скидка</label>
                                  <input
                                          id="discount"
                                          name="discount"
                                          type="number"
                                          class="form-control"
                                          placeholder="Введите скидку"
                                          min="0"
                                  />
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6">
                                <div class="form-group form-group-default"  style="background: #e8e8e8;">
                                  <label for="total">Итого</label>
                                  <input
                                          id="total"
                                          name="total"
                                          type="number"
                                          class="form-control fw-bold text-success"
                                          min="1"
                                          style="font-size: medium;"
                                          readonly
                                  />
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6">
                                <div class="form-check">
                                  <input
                                          class="form-check-input"
                                          type="checkbox"
                                          value="true"
                                          id="cash"
                                          name="cash"
                                          checked
                                  />
                                  <label class="form-check-label" for="cash">
                                    Наличные
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <input type="hidden" id="saleDate" name="saleDate" value="">
                              </div>

                              <div class="col-md-6 col-sm-6">
                                <input
                                        id="id"
                                        name="productId"
                                        type="hidden"
                                        class="form-control"
                                />
                              </div>

                              <div class="col-md-6">
                                <input type="hidden" id="costPrice" name="costPrice" value="">
                              </div>

                            </div>

                        </div>
                        <div class="modal-footer border-0">
                          <button
                                  type="submit"
                                  id="addRowButton"
                                  class="btn btn-primary"
                          >
                            Продать
                          </button>
                          <button
                                  id="closeButton"
                                  type="button"
                                  class="btn btn-danger"
                                  data-dismiss="modal"
                          >
                            Закрыть
                          </button>
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
                  <form th:action="@{/sales}" method="GET">
                  <div class="row">

                      <div class="col-md-6 col-lg-3">
                        <div class="form-group">
                          <div class="form-group">
                            <label for="saleDateSearch">Дата ввода</label>
                            <input type="date" class="form-control" id="saleDateSearch" name="saleDateSearch">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                        <div class="form-group">
                          <div class="form-group">
                            <div class="card-action">
                              <button type="submit" class="btn btn-success">Поиск</button>
                            </div>
                          </div>
                        </div>
                      </div>

                  </div>
                  </form>
                </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex align-items-center">
                  <button
                          id="startSaleButton"
                          class="btn btn-primary btn-round ms-auto"
                          data-bs-toggle="modal"
                          data-bs-target="#addRowModal"
                  ><i class="fa fa-plus"></i>
                    Начать продажу
                  </button>

                </div>
              </div>
              <div class="card-body">


                <div class="table-responsive">
                  <table
                          id="add-row"
                          class="display table table-striped table-hover"
                  >
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Наименование</th>
                      <th>Код</th>
                      <th>Штрих-код</th>
                      <th>Дата</th>
                      <th>Форма олптаы</th>
                      <th>Картинка</th>
                      <th>Цена</th>
                      <th>Скидка</th>
                      <th>Итого</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sale: ${sales}">
                      <td th:text="1"></td>
                      <td th:text="${sale.product.name}"></td>
                      <td th:text="${sale.product.productCode}"></td>
                      <td th:text="${sale.product.barcode}"></td>
                      <td th:text="${sale.saleDate}"></td>
                      <td th:text="${sale.cash ? 'Оплата наличкой' : 'Оплата переводом'}"></td>
                      <td>
                        <img th:src="@{${sale.product.imageUrl}}" width="70" alt="Одежда"
                             style="cursor: pointer;"
                             data-bs-toggle="modal"
                             data-bs-target="#showImage"
                             th:data-image-url="${sale.product.imageUrl}">

                      </td>
                      <td th:text="${sale.sellingPrice}"></td>
                      <td th:text="${sale.discount}"></td>
                      <td th:text="${sale.total}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <div class="form-group">
                  <label for="totalTransactions">Общее переводы</label>
                  <input type="number"  class="form-control input-full" id="totalTransactions" name="totalTransactions" disabled readonly/>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <div class="form-group">
                  <label for="totalCash">Общее наличка</label>
                  <input type="number"  class="form-control input-full" id="totalCash" name="totalCash" disabled readonly/>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <div class="form-group">
                  <label for="totalSum">ИТОГО:</label>
                  <input type="number"  class="form-control input-full" id="totalSum" name="totalSum" disabled readonly/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </div>


</div>

<div th:replace="~{fragments/script :: script}">

</div>

<p th:if="${message}" id="custom-notify-message" th:text="${message}" style="display: none"></p>

<script th:if="${message}">
  $(document).ready(function () {
    var placementFrom = "bottom";
    var placementAlign = "right";
    var state = "success";
    var style = "withicon";
    var content = {};

    content.message = $("#custom-notify-message").text();
    if(content.message.includes("Ошибка")){
      state = "warning"
    }
    content.title = "Уведомление";
    if (style == "withicon") {
      content.icon = "fa fa-bell";
    } else {
      content.icon = "none";
    }
    content.url = "index.html";
    content.target = "_blank";

    $.notify(content, {
      type: state,
      placement: {
        from: placementFrom,
        align: placementAlign,
      },
      time: 1000,
      delay: 20000, // Уведомление будет закрыто через 5 секунд
      autoHide: true, // Автоматическое скрытие
    });
  });
</script>

<script>
  // Получаем текущую дату
  var today = new Date().toLocaleDateString("en-CA", { timeZone: "Asia/Bishkek" });
  var currentTime = new Date().toLocaleTimeString("en-GB", {
    timeZone: "Asia/Bishkek",
    hour12: false
  });

  // Установить значение поля saleDate в формате yyyy-MM-ddTHH:mm:ss
  document.getElementById("saleDate").value = today + "T" + currentTime;
</script>

<script>
  function updateTotal() {
    // Получаем значения цены, количества и скидки
    const price = parseFloat(document.getElementById("sellingPrice").value) || 0;
    const quantity = parseFloat(document.getElementById("quantity").value) || 1;
    const discount = parseFloat(document.getElementById("discount").value) || 0;

    // Вычисляем итог с учетом скидки
    const total = (price * quantity) - discount;
    console.log(`Total: ${total}`); // Отладка
    // Устанавливаем итоговое значение в поле "Итого"
    document.getElementById("total").value = total >= 0 ? total.toFixed(2) : 0;

    // Привязываем функцию обновления к полям цены, количества и скидки

  }

  document.getElementById("sellingPrice").addEventListener("input", updateTotal);
  document.getElementById("quantity").addEventListener("input", updateTotal);
  document.getElementById("discount").addEventListener("input", updateTotal);

  function updateByProductCode() {

    const sellingPriceElement = document.getElementById('sellingPrice');
    const productNameElement = document.getElementById('name');
    const productBarcode = document.getElementById('barcode');
    const productId = document.getElementById('id');
    const discountElement = document.getElementById('discount');
    const totalElement = document.getElementById('total');
    const quantityElement = document.getElementById('quantity');
    const costPriceElement = document.getElementById('costPrice');

    const productCodeElement = document.getElementById('productCode');
    const productCode = productCodeElement.value;

    if (productCode) {
      fetch(`/products/productcode?productCode=${productCode}`)
              .then(response => {
                // Проверяем, что ответ имеет статус OK и тип content-type соответствует JSON
                if (response.ok && response.headers.get('Content-Type').includes('application/json')) {
                  return response.json();
                } else {
                  return response.json().then(errorData => {
                    throw new Error(errorData.error || 'Неизвестная ошибка');
                  });
                }
              })
              .then(data => {
                sellingPriceElement.value = data.sellingPrice || '';
                costPriceElement.value = data.costPrice || '';
                productNameElement.value = data.name || '';
                productBarcode.value = data.barcode || '';
                productId.value = data.id || '';
                quantityElement.value = 1;
                updateTotal();
              })
              .catch(error => {
                console.error("Ошибка при получении товара:", error);
                sellingPriceElement.value = '';
                discountElement.value = '';
                productId.value = '';
                productNameElement.value = '';
                totalElement.value = '';
                productBarcode.value = '';
                quantityElement.value = '';
                costPriceElement.value = '';
                updateTotal();
              });
    } else {
      sellingPriceElement.value = '';
      discountElement.value = '';
      productId.value = '';
      productNameElement.value = '';
      totalElement.value = '';
      productBarcode.value = '';
      costPriceElement.value = '';
    }
  }

  function updateByBarcode() {
    const sellingPriceElement = document.getElementById('sellingPrice');
    const productNameElement = document.getElementById('name');
    const productCodeElement = document.getElementById('productCode');
    const productId = document.getElementById('id');
    const discountElement = document.getElementById('discount');
    const totalElement = document.getElementById('total');
    const quantityElement = document.getElementById('quantity');
    const costPriceElement = document.getElementById('costPrice');


    const productBarcodeElement = document.getElementById('barcode');
    const barcode = productBarcodeElement.value;

    if (barcode) {
      fetch(`/products/barcode?barcode=${barcode}`)
              .then(response => {
                // Проверяем, что ответ имеет статус OK и тип content-type соответствует JSON
                if (response.ok && response.headers.get('Content-Type').includes('application/json')) {
                  return response.json();
                } else {
                  return response.json().then(errorData => {
                    throw new Error(errorData.error || 'Неизвестная ошибка');
                  });
                }
              })
              .then(data => {
                sellingPriceElement.value = data.sellingPrice || '';
                costPriceElement.value = data.costPrice || '';
                productNameElement.value = data.name || '';
                productCodeElement.value = data.productCode || '';
                productId.value = data.id || '';
                quantityElement.value = 1;
                updateTotal();
              })
              .catch(error => {
                console.error("Ошибка при получении товара:", error);
                sellingPriceElement.value = '';
                discountElement.value = '';
                productId.value = '';
                productNameElement.value = '';
                totalElement.value = '';
                productCodeElement.value = '';
                quantityElement.value = '';
                costPriceElement.value = '';
                updateTotal();
              });
    } else {
      sellingPriceElement.value = '';
      discountElement.value = '';
      productId.value = '';
      productNameElement.value = '';
      totalElement.value = '';
      productCodeElement.value = '';
      costPriceElement.value = '';
    }
  }

</script>
<script>
    $(document).ready(function () {

    $("#closeButton").click(function () {
      $("#addRowModal").modal("hide");
    });
  });
</script>

<script>
  // Добавляем обработчик события для кнопки "Начать продажу"
  document.getElementById('startSaleButton').addEventListener('click', function() {
    // Находим все инпуты внутри нужной формы
    const inputs = document.querySelectorAll('#addRowModal input');

    // Очищаем все инпуты
    inputs.forEach(input => {
      if (input.type === 'text' || input.type === 'number') {
        input.value = '';  // Очищаем значение
      }
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Функция для обновления итоговой суммы
    function updateTotal() {
      // Получаем значения цены, количества и скидки
      const price = parseFloat(document.getElementById("sellingPrice").value) || 0;
      const quantity = parseFloat(document.getElementById("quantity").value) || 1;
      const discount = parseFloat(document.getElementById("discount").value) || 0;

      // Вычисляем итог с учетом скидки
      const total = (price * quantity) - discount;
      console.log(`Total: ${total}`); // Отладка
      // Устанавливаем итоговое значение в поле "Итого"
      document.getElementById("total").value = total >= 0 ? total.toFixed(2) : 0;
    }

    // Привязываем функцию обновления к полям цены, количества и скидки
    document.getElementById("sellingPrice").addEventListener("input", updateTotal);
    document.getElementById("quantity").addEventListener("input", updateTotal);
    document.getElementById("discount").addEventListener("input", updateTotal);
  });
</script>


<script>
  $(document).ready(function () {

    $("#closeButton").click(function () {
      console.log("hide")
      $("#addRowModal").modal("hide");
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const modal = document.getElementById('addRowModal');
    modal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget; // Кнопка, вызвавшая модальное окно
      const imageUrl = button.getAttribute('data-image-url'); // Извлечение значения data-* атрибута
      const modalImage = modal.querySelector('#modalImage');
      modalImage.src = imageUrl; // Установка src для изображения в модальном окне
    });
  });
</script>


<script>
  $(document).ready(function () {

    $("#closeImageButton").click(function () {
      $("#showImage").modal("hide");
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const modal = document.getElementById('showImage');
    modal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget; // Кнопка, вызвавшая модальное окно
      const imageUrl = button.getAttribute('data-image-url'); // Извлечение значения data-* атрибута
      const modalImage = modal.querySelector('#modalImage');
      modalImage.src = imageUrl; // Установка src для изображения в модальном окне
    });
  });
</script>

<script th:inline="javascript">
  /* Преобразуем список продаж в JavaScript массив */
  var sales = /*[[${sales}]]*/ [];

  document.addEventListener("DOMContentLoaded", function() {
    let totalCash = 0;
    let totalTransfers = 0;

    sales.forEach(function(sale) {
      if (sale.cash) {
        totalCash += sale.total; // Сумма наличных
      } else {
        totalTransfers += sale.total; // Сумма переводов
      }
    });

    let totalSum = totalCash + totalTransfers; // Общая сумма

    // Обновляем значения полей ввода
    document.getElementById("totalTransactions").value = totalTransfers.toFixed(2);
    document.getElementById("totalCash").value = totalCash.toFixed(2);
    document.getElementById("totalSum").value = totalSum.toFixed(2);
  });
</script>
</body>
</html>
